// 颜色定义规范

// 背景底色
$color-background = #f2f2f2
// 元素底色
$color-element=#ffffff
// 二级分割线
$color-line=#eeeeee
$color-line-primary=#dddddd
// 文字,导航,title
$color-text=#333333
// 次要文字
$color-text-secondary=#999999
// 激活的链接
$color-active=#ff4343
// 蓝色链接
$color-link=#00aaff



//字体定义规范
$font-size-small = 12px
$font-size-medium = 14px
$font-size-large = 18px
